@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.faqs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faqs .faqsTitle {
    text-align: center;
    padding-bottom: 5rem;
    font-size: 4rem;
}

.faqs .faq {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--light-bg);
}

.faqs .faq .faqQuestion {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faqs .faq .faqQuestion h2 {
    font-size: 2rem;
    color: var(--black);
}

.faqs .faq .faqQuestion .faqArrow {
    font-size: 2rem;
    color: var(--black);
}

.faqs .faq .faqAnswer {
    max-height: 0;
    overflow: hidden;
}

.faqs .faq .faqAnswer p {
    padding-top: 1rem;
    font-size: 1.4rem;
    color: var(--black);
}

.faqs .faq.active .faqAnswer {
    max-height: 100rem;
    transition: max-height 1.4s ease;
    animation: fadeIn 0.4s linear backwards 0.2s;
}

.faqs .faq.active .faqQuestion .faqArrow {
    transform: rotate(180deg);
    transition: transform 0.5s ease-in;
}

.faqs .faq .faqQuestion .faqArrow {
    transition: transform 0.5s ease-out;
}

.faqs .faq.active .faqQuestion h2 {
    color: var(--white);
}

.faqs .faq.active {
    background-color: var(--main-color);
}

.faqs .faq.active .faqQuestion .faqArrow {
    color: var(--white);
}

.faqs .faq.active .faqAnswer p {
    color: var(--white);
}

.editFaq{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.editFaq .topEditFaq,
.editFaq .bottomEditFaq{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editFaq .bottomEditFaq{
    border-left: 2px solid var(--main-color);
    padding-left: 2rem;
}

.editFaq .topEditFaq{
    padding-right: 2rem;
}

.editFaqTitle{
    text-align: center;
    padding-top: 2rem;
    font-size: 3.5rem;
    color: var(--black);
}

.editFaq .topEditFaq .previousQuestion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.editFaq .topEditFaq .previousQuestion h2{
    font-size: 4rem;
    color: var(--black);

}

.editFaq .topEditFaq .previousAnswer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.editFaq .topEditFaq .previousAnswer h3{
    font-size: 1.7rem;
    color: var(--black);
}


.editFaq .bottomEditFaq .editFaqForm{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.editFaq .bottomEditFaq .editFaqForm form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.editFaq .bottomEditFaq .editFaqForm form label{
    font-size: 2.5rem;
    color: var(--black);
}

.editFaq .bottomEditFaq .editFaqForm .productEditTitle,
.editFaq .bottomEditFaq .editFaqForm .productEditDescription{
    width: 100%;
}

.editFaq .bottomEditFaq .editFaqForm .productEditTitle input{
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    color: var(--black);
}

.editFaq .bottomEditFaq .editFaqForm .productEditDescription textarea{
    width: 100%;
    height: 15rem;
    font-size: 1.5rem;
    color: var(--black);
    resize: none;
}

.editFaq .bottomEditFaq .editFaqForm .productEditDescription textarea:-webkit-scrollbar {
    width: 0.5rem;
}

.editFaq .bottomEditFaq .editFaqForm .productEditDescription textarea::-webkit-scrollbar-track {
    background: none;
}

.editFaq .bottomEditFaq .editFaqForm .productEditDescription textarea::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

.editFaq .bottomEditFaq .editFaqForm .productFaqButtons{
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.editFaq .bottomEditFaq .editFaqForm .productFaqButtons input,
.editFaq .bottomEditFaq .editFaqForm .productFaqButtons a{
    font-size: 1.5rem;
    color: var(--white);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0.5rem;
}

.editFaq .bottomEditFaq .editFaqForm .productFaqButtons input:hover,
.editFaq .bottomEditFaq .editFaqForm .productFaqButtons a:hover{
    opacity: 0.8;
    cursor: pointer;
}

.addFAQ{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.addFAQ .editFaqForm{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.addFAQ .editFaqForm form{
    width: 100%;
    height: 100%;
}

.addFAQ .editFaqForm .productEditTitle{
    width: 100%;
    display: flex;
}

.addFAQ .editFaqForm .productEditTitle input{
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    color: var(--black);
}

.addFAQ .editFaqForm .productEditDescription{
    width: 100%;
    display: flex;
}

.addFAQ .editFaqForm .productEditDescription textarea{
    width: 100%;
    height: 15rem;
    font-size: 1.5rem;
    color: var(--black);
    resize: none;
}

.addFAQ .editFaqForm .productEditDescription textarea:-webkit-scrollbar {
    width: 0.5rem;
}

.addFAQ .editFaqForm .productEditDescription textarea::-webkit-scrollbar-track {
    background: none;
}

.addFAQ .editFaqForm .productEditDescription textarea::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

.addFAQ .editFaqForm .productFaqButtons{
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.addFAQ .editFaqForm .productFaqButtons input,
.addFAQ .editFaqForm .productFaqButtons a{
    font-size: 1.5rem;
    color: var(--white);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0.5rem;
}

.addFAQ .editFaqForm .productFaqButtons input:hover,
.addFAQ .editFaqForm .productFaqButtons a:hover{
    opacity: 0.8;
    cursor: pointer;
}

