.signup {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    margin: 5rem;
}

.signup .signupLogo {
    flex: 1 1 41rem;
    text-align: center;
}

.signup .signupLogo img {
    width: 57%;
}

.signup .signupInput {
    flex: 1 1 41rem;
    text-align: center;
    border-left: var(--main-color) 5px solid;
    padding-left: 3rem;
    padding-bottom: 5rem;
}

.signup .signupInput h2 {
    font-size: 3.5rem;
    color: var(--black);
}

.signup .signupInput .signupForm {
    margin: 2rem 0;
}

.signup .signupInput .signupForm .inputBox input {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.5rem;
    border: 1px solid var(--light-black);
    border-radius: 0.5rem;
    outline: none;
}

.signup .signupInput .signupForm .inputBox input:focus {
    border: 1px solid var(--black);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
}

.signup .signupInput .signupForm .inputBox input::placeholder {
    color: var(--light-black);
}

.signup .signupInput .signupForm .inputBox input[data-state="invalid"] {
    border: 1px solid var(--main-color);
}

.signup .signupInput .signupForm .inputBox .text-danger {
    color: var(--main-color);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}



.signup .signupInput .signupForm .signupOptions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signup .signupInput .signupForm .signupOptions button {
    width: 10%;
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    background-color: var(--main-color);
    color: var(--white);
    cursor: pointer;
}

.signup .signupInput .signupForm .signupOptions button:hover {
    opacity: 0.8;
}

.signup .signupInput .signupForm .signupOptions .signupLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.signup .signupInput .signupForm .signupOptions .signupLinks a {
    font-size: 1.5rem;
    color: var(--light-black);
}

.signup .signupInput .signupForm .signupOptions .signupLinks a:hover {
    color: var(--main-color);
}

.signup .signupInput .signupForm .signupOptions .signupLinks a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    display: block;
    transition: width 0.5s;
}

.signup .signupInput .signupForm .signupOptions .signupLinks a:hover::after {
    width: 100%;
}

.signup .signupInput .signupForm #messages {
    display: none;
}

.signup .signupInput .signupForm p {
    font-size: 1.5rem;
    color: var(--light-black);
    margin-bottom: 1rem;
    text-align: justify;
}


.fillerFP {
    padding-top: 5rem;
}